}
.condition{
  display:flex;
  float:right;
  flex-direction:column;

}
.description{
  margin-left:2rem ;
  font-size:20px;
}
.Timedate{
  display:flex;
}
.time{
  font-size:20px;
  margin-right:5px;
}
.city{
  font-size:30px;
  font-weight:bold;
}


@media(max-width:412px){
  .search{
    width:100px;
  }
  .condition {
    width:70px;
    height:90px;
  }
  .description{
  font-size:15px;
 }
  .city{
  font-size:25px;
}
  .temp{
  display:flex;
  font-size:45px;
    }
}