
*{
  margin:0;
  padding:0;
  font-family:comme;
}
.center{
  display:flex;
  justify-content:center;
  align-items:center;
}
body{
  height:100vh;
  width:100vw;
 background-image:url('https://source.unsplash.com/1600x900/?landscape');
  object-fit:fit;
  background-position: center;
  background-repeat: no-repeat;  
}

/*-----------navigation----------*/

.nav{
  height:30px;
  display:flex;
  background-color:white;
  border-radius:30px;
  cursor:pointer;
  padding:10px 20px;
  allign-items:center;
  width:max-content;
}
.search{
  border:none;
  outline:none;
  width:300px;
  transition:0.8s;
}
.fa-search{
  color:black;
}

/*-----------*/

/*--------content-section----------*/
.card{

   background-color:black;
  opacity:0.9;
  border:solid white 1px;
  border-radius:10px;
  padding:30px;
  color:white;
  height:max-content;
  width:100%;
  max-width:70%;
}

.search{
  margin-right:6px;
}
.nav-bar,.temp,.humidity,.location,.wind-speed,.wind-dir{
  margin-bottom:0.6rem;
}

.wind-speed{
  margin-top:10px;
}
.temp{
  display:flex;
  font-size:52px;
}

.Ftemp{
  display:flex;
  flex-direction:column;
}
.feelsLikeTemp{
  font-size:1rem;
}
.condition{
  display:flex;
  float:right;
  flex-direction:column;

}
.description{
  margin-left:2rem ;
  font-size:20px;
}
.Timedate{
  display:flex;
}
.time{
  font-size:20px;
  margin-right:5px;
}
.city{
  font-size:30px;
  font-weight:bold;
}

.a{
  border-radius:10px;
  border-top:solid 1px white;
  border-bottom:solid 1px white;
  margin-top:10px;
  display:flex;
  justify-content:center;
  align-items:center;
}
#icon{
  width:65%;
  height:60%;
}
.time,.1{
  font-size:20px;
}
.card1{
  height:170px;
  width:110px;
  border-radius:10px;
  margin:5px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}


@media(max-width:430px){
  .search{
    width:100px;
  }
  .condition {
    width:70px;
    height:90px;
  }
  .description{
  font-size:15px;
 }
  .city{
  font-size:20px;
  }
  .temp{
  font-size:30px;
    }
  .nav-bar,.temp,.humidity,.location,.wind-speed,.wind-dir{
  margin-bottom:0.1rem;
  }
  .card1{
  height:150px;
  width:90px;
  }
  .a{
    display:flex;
    
  }
}
