
*{
  margin:0;
  padding:0;
  font-family:comme;
}
.center{
  display:flex;
  justify-content:center;
  align-items:center;
}
body{
  height:100vh;
  width:100%;
 background-image:url('https://source.unsplash.com/2150x1160?landscape');
  object-fit:cover;
  background-position: center;
  background-repeat: no-repeat; 
  
}

/*-----------navigation----------*/

.nav{
  height:30px;
  display:flex;
  background-color:white;
  border-radius:30px;
  cursor:pointer;
  padding:10px 20px;
  allign-items:center;
  width:max-content;
}
.search{
  border:none;
  outline:none;
  width:300px;
  transition:0.8s;
}
.fa-search{
  color:black;
}

/*-----------*/

/*--------content-section----------*/
.card{
   background-color:black;
  opacity:0.94;
  border:solid white 1px;
  border-radius:10px;
  padding:30px;
  color:white;
  height:max-content;
  max-width:70%;
}

.search{
  margin-right:6px;
}
.nav-bar,.temp,.humidity,.location,.wind-speed,.wind-dir{
  margin-bottom:0.6rem;
}

.wind-speed{
  margin-top:10px;
}
.temp{
  display:flex;
  font-size:52px;
}

.Ftemp{
  display:flex;
  flex-direction:column;
}
.feelsLikeTemp{
  font-size:1rem;
}
.condition{
  display:flex;
  float:right;
  flex-direction:column;

}
.description{
  margin-left:2rem ;
  font-size:20px;
}
.Timedate{
  display:flex;
}
.time{
  font-size:20px;
  margin-right:5px;
}
.city{
  font-size:30px;
  font-weight:bold;
}

.a{
  border-radius:10px;
  border-top:solid 1px white;
  border-bottom:solid 1px white;
  margin-top:10px;
  
}
#icon{
  width:65%;
  height:60%;
}
.time{
  font-size:20px;
}
.card1{
  flex-direction:column;
  height:170px;
  width:110px;
  border-radius:10px;
  margin:5px;
}

@media(min-width:412px) and (max-width:540px){
  body{
    height:100%;
  }
  .search{
    width:200px;
  }
  .condition {
    width:120px;
    height:120px;
  }
  .temp{
    font-size:35px;
  }
  .city{
  font-size:25px;
  }
  .a{
    display:grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 2fr));
  }
}
@media(max-width:412px){
  body{
    height:100%;
  }
  .card{
    display:flex;
    flex-direction:column;
    width:100%;
    
  }
  .search{
    width:100px;
  }
  .condition {
    width:110px;
    height:110px;
    margin:auto;
    margin-bottom:2rem;
  }
  .description{
  font-size:15px;
 }
  .city{
  font-size:20px;
  }
  .temp{
  font-size:30px;
    margin:auto;
    }
  .humidity,.wind-speed,.wind-dir,.Timedate,.visbility{
  margin-bottom:0.6rem;
    margin-left:auto;
    margin-right:auto;
}
  
  .card1{
  height:150px;
  width:90px;
  }
  .a{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 2fr));
  }
}
